*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  background-color: #f1f1f1;
  color: #0a1d96;
}

/* Bayan css */

.bayan {
  max-width: 40%;
  margin: 1rem auto;
  background-color: #fbfafa;
  -webkit-box-shadow: 0.7rem 0.7rem 2.1rem -0.2rem rgb(66 68 90);
  -moz-box-shadow: 0.7rem 0.7rem 2.1rem -0.2rem rgb(66 68 90);
  box-shadow: 0.7rem 0.7rem 2.1rem -0.2rem rgb(66 68 90);
  border-radius: 0.5rem;
  padding: 0 1rem 1rem;
}

.bayan-item {
  border-bottom: 0.1rem solid #0a1d96;
}

.bayan-title-container {
  position: relative;
}
.bayan-title {
  display: block;
  padding: 1rem 1rem;
  cursor: pointer;
}

.bayan-icon-more {
  display: none;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  transition: all 0.4s ease;
}

.bayan:hover {
  color: #ff9925;
  cursor: pointer;
}

.bayan:hover .bayan-icon-more {
  display: inline-block;
}

.bayan-input {
  appearance: none;
  -webkit-appearance: none;
  position: absolute;
}

.bayan-input:checked ~ .bayan-img-container {
  display: flex;
  max-width: inherit;
  justify-content: center;
  animation: fadeIn 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bayan-input:checked ~ .bayan-title-container .bayan-icon-more {
  transform: rotateZ(-180deg) translateY(+50%);
}

.bayan-input:checked ~ .bayan-title-container .bayan-title {
  color: #0a1d96;
}

.bayan-img-container {
  display: none;
}

.bayan-img {
  max-width: 80%;
  margin-bottom: 1rem;
}
