*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-color: #f1f1f1;
  color: #0a1d96;
}

/* Bayan css */

.bayan {
  max-width: 500px;
  margin: 20px auto;
  transition: background 0.2s ease-out;
}

.bayan-item {
  border-bottom: 1px solid #0a1d96;
}

.bayan-title-container {
  position: relative;
}
.bayan-title {
  display: block;
  padding: 15px 15px;
  cursor: pointer;
}

.bayan-icon-more {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  transition: all 0.4s ease;
}

.bayan:hover {
  color: #d914c8;
  cursor: pointer;
}

.bayan-input {
  appearance: none;
  -webkit-appearance: none;
  position: absolute;
}

.bayan-input:checked ~ .bayan-img-container {
  display: flex;
  max-width: inherit;
  justify-content: center;
}

.bayan-input:checked ~ .bayan-title-container .bayan-icon-more {
  transform: rotateZ(-180deg) translateY(+50%);
}

.bayan-img-container {
  display: none;
}

.bayan-img {
  max-width: 400px;
}
